<div class="wrapper">
  <header class="header">
    <div class="header__logotype"
         [routerLink]="['/github']">
      AngularJS - GitHub Info
    </div>
    <div class="header__burger" (click)="toggleMenu()">
      <img *ngIf="!isMenuOpen;" src="assets/icons/burger_menu.svg" alt="">
      <span *ngIf="isMenuOpen">&times;</span>
    </div>
    <div class="header__menu"
         [class.isOpen]="isMenuOpen">
      <div
           [routerLink]="['/github']"
           [routerLinkActive]="'active__page'">Search
      </div>
      <div
        [routerLink]="['/about']"
        [routerLinkActive]="'active__page'">About
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
